.additional {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 13px;

  @media (min-width: @width-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
  }

  @media (min-width: @width-desktop) {
    grid-template-columns: repeat(4, 1fr);
  }

}

.additional__control {
  padding-left: 46px;
  position: relative;
  display: flex;
}

.additional__mark {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid @basic-grey-border;
  top: -8px;
  left: 0;
}

.additional__item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.additional__input[type="checkbox"]:checked + .additional__mark {
  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: @basic-green;
    top:50%;
    left: 50%;
    transform: translateX(-28%) translateY(-19%);
    mask: url(../img/icons/stek.svg#icon-form-jackdaw);
    mask-repeat: no-repeat;
    mask-size: 18px 14px;

    @media (min-width: @width-tablet) {
      width: 25px;
      height: 20px;
      mask-size: 24px 19px;
    }

    @media (min-width: @width-desktop) {
      width: 28px;
      height: 28px;
      mask-size: 26px 26px;
    }
  }
}
