.additional {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 13px;

  @media (min-width: @width-tablet) {
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 32px;
    column-gap: 42px;
  }

  @media (min-width: @width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 90px;
  }
}

.additional__item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 46px;

  @media (min-width: @width-tablet) {
    padding-left: 83px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 0;
  }
}

.additional__control {
  position: relative;
  display: flex;

  &::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border: 1px solid @basic-grey-border;
    top: -8px;
    left: 0;

    @media (min-width: @width-tablet) {
      width: 38px;
      height: 38px;
      top: -5px;
      left: -58px;
    }
  }
}

.additional__input[type="checkbox"]:checked + .additional__control {
  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: @basic-green;
    top: 50%;
    left: -37px;
    transform: translateX(-28%) translateY(-19%);
    mask: url(../img/icons/stek.svg#icon-form-jackdaw);
    mask-repeat: no-repeat;
    mask-size: 18px 14px;

    @media (min-width: @width-tablet) {
      width: 36px;
      height: 30px;
      mask-size: 29px 26px;
      transform: translateX(-37%) translateY(-43%);
    }

    @media (min-width: @width-desktop) {
      width: 28px;
      height: 28px;
      mask-size: 26px 26px;
    }
  }
}

.additional__input:hover ~ .additional__control {
  cursor: pointer;

  &::after {
    border: 1px solid @input-hover;
  }
}

.additional__input:focus ~ .additional__control {
  outline: 1px solid @input-hover;

  &::after {
    outline: 1px solid @input-hover;
  }
}

.additional__input:active ~ .additional__control {
  opacity: 0.6;
}

.additional__input:disabled ~ .additional__control {
  opacity: 0.3;
  cursor: default;
}
