.advantages {
  padding-top: 20px;
  padding-bottom: 49px;
}

.advantages__title {
  padding-bottom: 20px;
}

.advantages__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.advantages__item {
  margin-top: 20px;
  padding-left: 80px;

  &--icon-leaf {
    background-image: url(../img/icon-leaf.png);
    background-repeat: no-repeat;
    background-position-y:center ;
  }

  &--icon-glass {
    background-image: url(../img/icon-glass.png);
    background-repeat: no-repeat;
    background-position-y:center ;
  }

  &--icon-tableware {
    background-image: url(../img/icon-tableware.png);
    background-repeat: no-repeat;
    background-position-y:center ;
  }

  &--icon-clock {
    background-image: url(../img/icon-clock.png);
    background-repeat: no-repeat;
    background-position-y:center ;
  }
}
