.catalog__main {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: @width-tablet) {
  .catalog__main {
    grid-template-columns: 1fr 1fr;
    //gap: 60px;
  }

}

@media (min-width: @width-desktop) {
  .catalog__main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    //column-gap: 80px;
    //row-gap: 63px;
  }
}
