.catalog {
  .no-centering-wrapper(@width-mobile);

  @media (min-width: @width-tablet) {
    .no-centering-wrapper(@width-tablet);
  }

  @media (min-width: @width-desktop) {
    .no-centering-wrapper(@width-desktop);
  }
}

.catalog__main {
  .centering-wrapper(@width-mobile);
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @width-tablet) {
    .centering-wrapper(@width-tablet);
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: @width-desktop) {
    .centering-wrapper(@width-desktop);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 63px;
  }
}

.catalog__additional {
  .centering-wrapper(@width-mobile);

  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    background-color: #68B738;
    top: 120px;
  }

  @media (min-width: @width-tablet) {
    .centering-wrapper(@width-tablet);
  }

  @media (min-width: @width-desktop) {
    .centering-wrapper(@width-desktop);
    padding-top: 75px;
    padding-bottom: 86px;
  }
}

.catalog__title {
  padding: 27px 41px 41px 20px;

  @media (min-width: @width-tablet) {
    .centering-wrapper(@width-tablet);
    padding-top: 65px;
    padding-bottom: 82px;
    padding-left: 0;
  }

  @media (min-width: @width-desktop) {
    .centering-wrapper(@width-desktop);
    padding-top: 74px;
    padding-bottom: 84px;
  }
}

