.comments {
  display: flex;
  flex-wrap: wrap;
}

.comments__legend {

}

.comments__label {
  width: 100%;
  box-sizing: border-box;
}

.comments__textarea {
  width: 100%;
  box-sizing: border-box;
  height: 150px;
  padding-left: 14px;
  padding-top: 9px;
}
