.contacts {
  .no-centering-wrapper(@width-mobile);
  background-color: @basic-grey;

  &--view {
    background-color: @basic-white;
  }

  @media (min-width: @width-tablet) {
    .no-centering-wrapper(@width-tablet);
  }

  @media (min-width: @width-desktop) {
    .no-centering-wrapper(@width-desktop);
  }
}

.contacts__wrapper {
  .centering-wrapper(@width-mobile);
  display: flex;
  flex-wrap: wrap;
  padding: 26px 0;

  @media (min-width: @width-tablet) {
    .centering-wrapper(@width-tablet);
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  @media (min-width: @width-desktop) {
    .centering-wrapper(@width-desktop);
    justify-content: flex-start;
    margin-bottom: -167px;
    z-index: 1;
    position: relative;
    padding-top: 90px;
  }
}

.contacts__title {
  width: 139px;

  @media (min-width: @width-tablet) {
    padding-left: 40px;
  }

  @media (min-width: @width-desktop) {
    background-color: @basic-white;
  }
}

.contacts__address {
  width: 139px;

  @media (min-width: @width-tablet) {
    width: 170px;
    text-align: end;
    padding-right: 40px;
  }

  @media (min-width: @width-desktop) {
    background-color: @basic-white;
  }
}

.contacts__figure {
  margin: 0 auto;

  @media (min-width: @width-tablet) {
    width: 100%;
    height: auto;
  }
}

.contacts__img-map {
  display: block;
  //margin-left: calc((320px - 100vw)/2);
  //margin-right: calc((320px - 100vw)/2);

  @media (min-width: @width-tablet) {
    width: 100%;
    height: auto;
  }
}
