.example {
  width: auto;
  padding-top: 25px;
  background-color: @secondary-grey-background;

  @media (min-width: @width-tablet) {
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient( to top, @secondary-grey-background 43%, @basic-white 23%);
    border-top: 1px solid @secondary-grey-navigation;
  }

  @media (min-width: @width-desktop) {
    border-top: none;
    background: linear-gradient( to top, @secondary-grey-background 73%, @basic-white 23%);
  }
}

.example__alignment-container {
  .centering-wrapper(@width-mobile);

  @media (min-width: @width-tablet) {
    .no-centering-wrapper(@width-tablet);
  }

  @media (min-width: @width-desktop) {
    .centering-wrapper(@width-desktop);
    display: flex;
    flex-wrap: wrap;
  }
}

.example__description {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: @width-tablet) {
    padding-top: 63px;
    padding-bottom: 54px;
  }
}

.example__container {
  @media (min-width: @width-tablet) {
    .centering-wrapper(@width-tablet);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 99px;
  }

  @media (min-width: @width-desktop) {
    width: 500px;
    padding-top: 69px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @width-tablet) {
    column-gap: 42px;
    margin-right: auto;
  }
}

.example__advantages {
  margin-top: 0;
  margin-bottom: 0;
  padding:15px 0;
  border: 1px solid @basic-grey-border;
  border-radius: 4px;
  width: 124px;
  text-align: center;
  position: relative;
}

.example__slider {
  @media (min-width: @width-tablet) {
    padding-right: 104px;
    padding-bottom: 101px;
    padding-left: 104px;
  }

  @media (min-width: @width-desktop) {
    padding-right: 0;
    background: none;
  }
}

.example__term{
  &--advantages {
    width: 77px;
    position: absolute;
    bottom: -14px;
    left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:@secondary-grey-background;
  }

  @media (min-width: @width-tablet) {
    align-self: flex-end;

    &--advantages {
      background-color:@basic-white;
    }
  }

  @media (min-width: @width-desktop) {
    &--advantages {
      background-color: transparent;
    }
  }
}

.example__value {
  margin-left: 0;

  @media (min-width: @width-tablet) {
    align-self: flex-end;
  }
}

.example__total {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: @width-tablet) {
    flex-direction: column;
  }

  @media (min-width: @width-desktop) {
    flex-direction: row;
  }
}
