.example {
  padding-top: 25px;
}

.example__description {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
}

.example__advantages {
  margin-top: 0;
  margin-bottom: 0;
  padding:20px 0;
}

.example__value {
  margin-left: 0;
}
