.gift {
  padding: 187px 56px 43px 66px;
  background-color: @basic-green;
  background-image: url(../img/gift-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @width-tablet) {
    padding: 71px 124px 69px 422px;
  }

  @media (min-width: @width-desktop) {
    padding:185px 43px 42px 41px;
  }
}

.gift__description {
  margin-top: 0;
  margin-bottom: 0;
  width: 161px;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/icon-gift.svg);
    width: 78px;
    height: 80px;
    top: -125px;
    left: 40px;
  }

  @media (min-width: @width-tablet) {
    &::before {
      top: -6px;
      left: -327px;
    }
  }

  @media (min-width: @width-desktop) {
    &::before {
      top: -130px;
      left: 41px;
    }
  }
}
