.header {
  .no-centering-wrapper(@width-mobile);
  font-family: "Oswald", "Arial", sans-serif;
  color: @basic-black;
  background-color: @basic-white;
}

.header__item {
  &:--navigation {
    flex-grow: 1;
  }
}

.header__wrapper {
  .centering-wrapper(@width-mobile);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 57px;
}

@media (min-width: @width-tablet) {
  .header {
    .centering-wrapper(@width-tablet);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header__wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .header__item {

    &:--navigation {
      margin-left: auto;
    }
  }
}

@media (min-width: @width-desktop) {
  .header {
    .centering-wrapper(@width-desktop);
  }

}
