.program {
  .centering-wrapper(@width-mobile);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: @width-tablet) {
    .centering-wrapper(@width-tablet);
    gap: 30px;
  }

  @media (min-width: @width-desktop) {
    .centering-wrapper(@width-desktop);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    padding-top: 82px;
  }
}

.program__item {
  padding-top: 30px;
  padding-bottom: 18px;
  background-color: @basic-grey;

  &--slim {
    background-image: url(../img/icon-slim.png);
    background-repeat: no-repeat;
    background-position: 14px 24px;
  }

  &--pro {
    background-image: url(../img/icon-pro.png);
    background-repeat: no-repeat;
    background-position: 14px 24px;
  }

  @media (min-width: @width-tablet) {
    width: 340px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 77px 316px 53px 52px;
    align-items: flex-start;

    &--slim {
      background-position-x: 519px;
      background-position-y: 101px;
      background-size: 140px 194px
    }

    &--pro {
      background-position-x: 519px;
      background-position-y: 101px;
      background-size: 140px 194px
    }
  }

  @media (min-width: @width-desktop) {
    width: 457px;
    padding: 77px 61px 55px 52px;

    &--slim {
      background-position-x: 60px;
      background-position-y: 50px;
      background-size: 100px 106px
    }

    &--pro {
      background-position-x: 60px;
      background-position-y: 50px;
      background-size: 134px 100px
    }
  }
}

.program__title {
  padding-left: 91px;

  @media (min-width: @width-tablet) {
    padding-left: 0;
  }

  @media (min-width: @width-desktop) {
    padding-left: 162px;
  }
}

.program__description {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 29px;
  padding-right: 33px;
  padding-left: 20px;

  @media (min-width: @width-tablet) {
    padding-left: 0;
  }

  @media (min-width: @width-desktop) {
    padding-top: 73px;  }
}

.program__button {
  display: block;
  padding-top: 38px;
  padding-left: 20px;
  position: relative;
  text-decoration: none;

  &::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: @basic-grey-pseudo-footer-element;
    left: 20px;
    right: 20px;
    top:19px;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url(../img/program-arrow.svg);
    background-repeat: no-repeat;
    width: 43px;
    height: 20px;
    background-position: 10px 2px;
  }

  @media (min-width: @width-tablet) {
    padding-left: 0;

    &::before {
      position: relative;
    }
  }
}
