.promo {
  padding-top: 27px;
  text-align: center;
  background-color: @basic-grey-description;
}

.promo__slogan {
  margin-top: 25px;
}

.promo__image {
  display: block;
  margin-top: 29px;
}

.promo__button {
  display: block;
  margin-top: 3px;
}
