.slider {
  width: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  @media (min-width: @width-tablet) {
    width: 560px;
  }

  @media (min-width: @width-desktop) {

  }
}

.slider__figure-slim {
  grid-area: 1 / 2 / 2 /3;
  width: 140px;
  overflow: hidden;

  @media (min-width: @width-tablet) {
    width: 280px;
  }
}

.slider__figure-fat {
  grid-area: 1 / 1 / 2 / 2;
  width: 140px;
  overflow: hidden;

  @media (min-width: @width-tablet) {
    width: 280px;
  }
}

.slider__img-1 {
  display: block;
  transform: translateX(-50%);

  @media (min-width: @width-tablet) {
    width: 560px;
    height: 512px;
  }
}

.slider__img-2 {
  display: block;

  @media (min-width: @width-tablet) {
    width: 560px;
    height: 512px;
  }
}

.slider__bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(~"-100%") translateY(~"-50%");
}

.slider__button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 18px;
  border-radius: 50%;
  transform: translateX(~"-50%") translateY(~"-50%");
  border: 2px solid @slider-color;
  background-color: @basic-white;

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 2px;
    background-color: @slider-color;

    @media (min-width: @width-tablet) {
      height: 512px;
    }

  }

  &::after {
    content: "";
    width: 24px;
    height: 18px;
    background-color: @slider-color;
    position: absolute;
    mask: url(../img/icons/stek.svg#icon-slider);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &:hover,
  &:focus {
    background-color: @basic-white;
    border-color: @basic-green;

    &::after,
    &::before {
      background-color: @basic-green;
    }
  }

  &:active {
    background-color: @basic-white;
    border-color: @basic-green-action;

    &::after,
    &::before {
      background-color: @basic-green-action;
    }
  }

}

