.social {
  .centering-wrapper(@width-mobile);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  gap: 40px;
  padding: 40px 0;

  @media (min-width: @width-tablet) {
    .centering-wrapper(@width-tablet);
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: @width-desktop) {
    .centering-wrapper(@width-desktop);
    padding: 69px 110px;;
  }
}

.social__networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 128px;
  align-self: center;
  position: relative;

  @media (min-width: @width-tablet) {
    width: 133px;
    margin-left: 25px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 280px;
    background-color: @basic-grey-pseudo-footer-element;
    left: -76px;
    top: 42px;

    @media (min-width: @width-tablet)  {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 280px;
    background-color: @basic-grey-pseudo-footer-element;
    left: -76px;
    top: -22px;

    @media (min-width: @width-tablet) {
      display: none;
    }
  }
}

.social__link {
  display: flex;
  align-self: center;

  &--vkontakte {
    position: relative;
    width: 28px;
    height: 22px;

    &::before {
      position: absolute;
      content: "";
      mask: url(../img/icons/stek.svg#vkontakte);
      background-color: @slider-color;
      width: 28px;
      height: 22px;
      top:0;
      left: 0;
    }

    &:hover {
      &::before {
        background-color: @basic-green;
      }
    }

    &:focus {
      &::before {
        background-color: @basic-green;
      }
    }

    &:active {
      &::before {
        background-color: @basic-green;
        opacity: 0.3;
      }
    }
  }

  &--youtube {
    width: 28px;
    height: 22px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      mask: url(../img/icons/stek.svg#youtube);
      background-color: @slider-color;
      width: 28px;
      height: 22px;
      top:0;
      left: 0;
    }

    &:hover {
      &::before {
        background-color: @basic-green;
      }
    }

    &:focus {
      &::before {
        background-color: @basic-green;
      }
    }

    &:active {
      &::before {
        background-color: @basic-green;
        opacity: 0.3;
      }
    }
  }

  &--telegram {
    width: 28px;
    height: 22px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      mask: url(../img/icons/stek.svg#telegram);
      background-color: @slider-color;
      width: 28px;
      height: 22px;
      top:0;
      left: 0;
    }

    &:hover {
      &::before {
        background-color: @basic-green;
      }
    }

    &:focus {
      &::before {
        background-color: @basic-green;
      }
    }

    &:active {
      &::before {
        background-color: @basic-green;
        opacity: 0.3;
      }
    }
  }

  &--logo {
    position: relative;
    width: 128px;
    height: 24px;

    &::before {
      position: absolute;
      content: "";
      mask: url(../img/icons/stek.svg#cat-logo);
      background-color: @secondary-black-contacts;
      width: 128px;
      height: 24px;
      top:0;
      left: 0;

      @media (min-width: @width-tablet) {
        width: 143px;
        height: 27px;
      }
    }

    &:hover {
      &::before {
        background-color: @cat-logo-colore;
      }
    }

    &:focus {
      &::before {
        background-color: @cat-logo-colore;
      }
    }

    &:active {
      &::before {
        background-color: @cat-logo-colore-active;
      }

    }

    @media (min-width: @width-tablet) {
      width: 143px;
      height: 27px;
    }
  }

  &--academy {
    position: relative;
    width: 113px;
    height: 19px;

    &::before {
      position: absolute;
      content: "";
      mask: url(../img/icons/stek.svg#logo-html-academy);
      background-color: @slider-color;
      width: 113px;
      height: 19px;
      top:0;
      left: 0;
    }

    &:active {
      &::before {
        opacity: 0.3;
      }

    }
  }

  &--trademark-html-academy {
    position: relative;
    width: 27px;
    height: 34px;

    &::before {
      position: absolute;
      content: "";
      mask: url(../img/icons/stek.svg#trademark-html-academy);
      background-color: @slider-color;
      width: 27px;
      height: 34px;
      top:0;
      left: 0;
    }

    &:hover {
      &::before {
        background-color: @basic-green;
      }
    }

    &:focus {
      &::before {
        background-color: @basic-green;
      }
    }

    &:active {
      &::before {
        background-color: @basic-green;
        opacity: 0.3;
      }
    }
  }
}

.social__wrapper {
  display: flex;
  width: 281px;
  justify-content: space-between;

  @media (min-width: @width-tablet) {
    width: 168px;
  }
}

