.social {
  .centering-wrapper(@width-mobile);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  gap: 40px;
  padding: 40px 0;

  @media (min-width: @width-tablet) {
    .centering-wrapper(@width-tablet);
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: @width-desktop) {
    .centering-wrapper(@width-desktop);
    padding: 66px 110px;;
  }
}

.social__networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 128px;
  align-self: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 280px;
    background-color: @basic-grey-pseudo-footer-element;
    left: -76px;
    top: 42px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 280px;
    background-color: @basic-grey-pseudo-footer-element;
    left: -76px;
    top: -22px;
  }

  @media (min-width: @width-tablet)  {
    position: static;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

}

.social__icon {
  fill: @slider-color;

  &--cat-logo {
    fill: @secondary-black-contacts;
  }

  &--logo-html-academy {
    fill: @basic-grey-description;
  }
}

.social__link {
  display: flex;
  align-self: center;

  &:hover .social__icon,
  &:focus .social__icon {
    fill: @basic-green;
  }

  &:active .social__icon {
    opacity: 0.3;
  }

  &:hover .social__icon--cat-logo,
  &:focus .social__icon--cat-logo {
    fill: @cat-logo-colore;
  }

  &:active .social__icon--cat-logo {
    fill: @cat-logo-colore-active;
  }

  &:hover .social__icon--logo-html-academy,
  &:focus .social__icon--logo-html-academy {
    fill: @basic-grey-description;
  }

  &:active .social__icon--logo-html-academy {
    opacity: 0.3;
  }

  &--logo {
    width: 128px;
  }

  &--academy {
    width: 280px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @width-tablet) {
    &--academy{
      justify-content: end;
      column-gap: 28px;
    }
  }
}
