.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  margin-top: 0;
  margin-bottom: 0;

  &--navigation {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;

    @media (min-width: @width-tablet) {
      font-size: 18px;
      line-height: 20px;
      font-weight: 400;
    }

    @media (min-width: @width-desktop) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &--promo {
    color: @basic-white;
  }

  &--slogan {
    font-size: 14px;
    line-height: 14px;
    color: @basic-white;
    text-transform: uppercase;
  }

  &--program {
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
  }

  &--section {
    line-height: 40px;
  }

  &--link {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &--advantages {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &--total {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &--contacts {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: @secondary-black-contacts;
  }

  &--product-сard {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: @secondary-black;
  }

  &--product-сard-all {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: @secondary-black-contacts;
  }

  &--additional {
    font-size: 24px;
    line-height: 24px;
    color: @secondary-black;
  }

  &--additional-card {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: @secondary-black;
  }

  &--form-title {
    font-size: 36px;
    line-height: 36px;

    @media (min-width: @width-tablet) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &--fieldset-slogan {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &--pet-name-list {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @basic-grey-description;
  }

  &--program-options {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @secondary-black;
  }

  &--pet-owner {
    font-size: 24px;
    line-height: 26px;
  }

  &--owner-contacts {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @basic-grey-description;
  }

  &--textarea {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @basic-grey-description;
  }

  &--checkbox {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &--legend-checkbox {
    font-size: 24px;
    line-height: 26px;
  }

  @media (min-width: @width-tablet) {
    &--catalog {
      font-size: 60px;
      line-height: 60px;
    }


    &--promo {
      font-size: 60px;
      line-height: 60px;
      color: @basic-black;
    }

    &--slogan {
      font-size: 20px;
      line-height: 20px;
      color: @basic-black;
    }

    &--program {
      font-size: 36px;
      line-height: 36px;
    }

    &--section {
      font-size: 60px;
      line-height: 60px;
    }

    &--link {
      font-size: 20px;
      line-height: 30px;
    }

    &--advantages {
      font-size: 30px;
      line-height: 37px;
    }

    &--total {
      font-size: 20px;
    }

    &--contacts {
      font-size: 20px;
      line-height: 26px;
    }

    &--product-сard {
      font-size: 20px;
      line-height: 24px;
    }

    &--additional {
      font-size: 36px;
      line-height: 36px;
    }

    &--additional-card {
      font-size: 20px;
      line-height: 20px;
    }

    &--product-сard-all {
      font-size: 20px;
      line-height: 22px;
    }
  }

  @media (min-width: @width-desktop) {
    &--product-сard {
      line-height: 21px;
    }
  }
}
