.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  margin-top: 0;
  margin-bottom: 0;

  &--promo {
    color: @basic-white;
  }

  &--slogan {
    font-size: 14px;
    line-height: 14px;
    color: @basic-white;
  }

  &--program {
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
  }

  &--section {
    line-height: 40px;
  }

  &--link {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &--advantages {
    font-size: 24px;
    line-height: 24px;
  }

  &--total {
    font-size: 14px;
    line-height: 20px;
  }

  &--contacts {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

}

@media (min-width: @width-tablet) {
  .title {

    &--promo {
      font-size: 60px;
      line-height: 60px;
      color: @basic-black;
    }

    &--slogan {
      font-size: 20px;
      line-height: 20px;
      color: @basic-black;
    }

    &--program {
      font-size: 36px;
      line-height: 36px;
    }

    &--section {
      font-size: 60px;
      line-height: 60px;
    }

    &--link {
      font-size: 20px;
      line-height: 30px;
    }

    &--advantages {
      font-size: 30px;
      line-height: 37px;
    }

    &--total {
      font-size: 20px;
    }

    &--contacts {
      font-size: 20px;
      line-height: 26px;
    }

  }
}


